<html>  
    <head>
        <meta charset="utf-8">
        <title>Recipe Book</title>
    </head>
    <body>
        <h1>Recipe Book</h1>
        {% block content %}
            <h2>Reset password</h2>
            <form method="post">
            {% csrf_token %}
            
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Send reset link</button>
                </form>

            </form>
        {% endblock %}
            </body>
</html>

