    <html>
        <body>
            <h1>Recipe Book</h1>
            <h2>Ingredients</h2>
            <div class="reci_ing1">
                <ul>
                {% for reciping1 in rec_ing1|slice:":5" %}
                    <div class="rec_ing1">
                        
                            <li>{{reciping1.reci_ing.ing_name}} ({{reciping1.quantity}})</li>
                        
                    </div>
                {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}

        </body>
    </html>
